.buttonCircle{
    inline-size: 2.5em;
    block-size: 2.5em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: none;
    color: var(--gray10);
}
.buttonCircle:active{
    transform: scale(.9);
}
.buttonCircle.is-white{
    background: var(--white);
    color: var(--gray60);
}
.buttonCircle.is-primary{
    background-color: var(--primary);
    color: var(--gray60);
}
.buttonCircle [class^="icon-play"]{
    position: relative;
    left: 1px;
    top: 1px;
}
.buttonGeneric{
    inline-size: 1.87rem;
    block-size: 1.87rem;
    background-color: var(--gray60);
    color: var(--white);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.buttonGeneric [class^="icon-arrowLeft"]{
    position:relative;
    inset-inline-end: .1rem;
    inset-block-start: .1rem;
}
.buttonGeneric [class^="icon-arrowRight"]{
    position:relative;
    inset-inline-start: .1rem;
    inset-block-start: .1rem;
}
.buttonArtist{
    background: var(--primary);
    padding-inline: 2rem;
    padding-block: .5rem;
    border: 0;
    border-radius: 1rem;
    color: var(--white);
    cursor: pointer;
}
.buttonPlay{
    inline-size: 1.5rem;
    block-size: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--white);
    background: none;
    color: var(--white);
    cursor: pointer;
}
.buttonPlay i{
    font-size: .5rem;
    position: relative;
    left: 1px;
    bottom: 1px;
}
.followButton{
    padding-inline: 1.5rem;
    padding-block: .5rem;
    border-radius: 1rem;
    background: none;
    border: 1px solid var(--white);
    cursor: pointer;
}
.followButton:hover{
    border-color: var(--gray60);
    background-color: var(--white);
}
.followButton p{
    font: var(--);
    margin: 0;
    color: var(--white);
}
.followButton:hover p{
    color: var(--gray60);
}
.bigButton{
    inline-size: 3.5rem;
    block-size: 3.5rem;
    border-radius: 50%;
    border: none;
    background: var(--primary);
}
.bigButton i{
    font-size: 1rem;
    color: var(--white);
    position: relative;
    left: .1rem;
}