@import "./playlist-a.css";
@import "./playlist-b.css";
@import "./playlist-list.css";
@import "./search.css";
@import "./navigation.css";
@import "./header.css";

.page{
    padding-inline: 2.5em;
    padding-block-end: 2em;
    /* overflow: hidden; */
}
.page-block{
    display: flex;
    flex-direction: column;
    gap: 2em; 
}
.page .header{
    margin-block-end: 1rem;
    margin-inline: -2rem;
}